[submodule "rules"]
	path = ml_battlesnake/deployment/game-engine-as-executable
	url = https://github.com/BattlesnakeOfficial/rules.git
[submodule "snakes/untimely-neglected-wearable"]
	path = ml_battlesnake/deployment/snakes/untimely-neglected-wearable
	url = https://github.com/altersaddle/untimely-neglected-wearable.git
[submodule "board"]
	path = ml_battlesnake/deployment/browser-spectator
	url = https://github.com/BattlesnakeOfficial/board.git
